<a href="https://colab.research.google.com/github/ShaazCode/Python-Libraries---EDA/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas it is used to store the data just like a excel but in the python
1. **Read the Data:** We can read the data using from different different files like Excel, csv, SQL, json, etc with single line of code

2. **Store the data:** Using pandas we can store the data with the help of data Frame.

3. **Clean and fix the data :** It means remove missing values, rename column , fixing the proper value, filter, etc

4. **Analyze data:** we can calculate average, sums, counts, sort and filter the data.

In Pandas we are having 2 Data types
1. Series
2. DataFrame

**Series**
Series is like a one column of a data. Series has 2 things
1. Value: The actual data itself
2. Index: label for each value like row numbr or custom value

In [1]:
import pandas as pd

# create series
num = pd.Series([10,20,30,40,50])
print(num)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# In above example we just had directly created the series but now we will give the index also with it

ages = pd.Series([10,20,30,40,50], index=['A', 'B', 'C', 'D', 'E'])
# so here in this example we had labeled the value with index
print(ages)

A    10
B    20
C    30
D    40
E    50
dtype: int64

**2. DataFrames**
Dataframe is a collection of rows and column. It creates a table (rows and column)

In [4]:
# creating data frame
data = {
    "column_one": [10,20,30,40,50],
    "column_two": ['A', 'B', 'C', 'D', 'D']
}

dframe = pd.DataFrame(data)
print(dframe)

   column_one column_two
0          10          A
1          20          B
2          30          C
3          40          D
4          50          D

In [5]:
# creating data frame with index
data = {
    "column_one": [10,20,30,40,50],
    "column_two": ['A', 'B', 'C', 'D', 'D']
}

dframe = pd.DataFrame(data, index= ["one", "two", "three", "four", "five"])
print(dframe)

       column_one column_two
one            10          A
two            20          B
three          30          C
four           40          D
five           50          D