<a href="https://colab.research.google.com/github/ShaazCode/Python-Libraries---EDA/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas it is used to store the data just like a excel but in the python
1. **Read the Data:** We can read the data using from different different files like Excel, csv, SQL, json, etc with single line of code

2. **Store the data:** Using pandas we can store the data with the help of data Frame.

3. **Clean and fix the data :** It means remove missing values, rename column , fixing the proper value, filter, etc

4. **Analyze data:** we can calculate average, sums, counts, sort and filter the data.

In Pandas we are having 2 Data types
1. Series
2. DataFrame

**Series**
Series is like a one column of a data. Series has 2 things
1. Value: The actual data itself
2. Index: label for each value like row numbr or custom value

In [ ]:
import pandas as pd

# create series
num = pd.Series([10,20,30,40,50])
print(num)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# In above example we just had directly created the series but now we will give the index also with it

ages = pd.Series([10,20,30,40,50], index=['A', 'B', 'C', 'D', 'E'])
# so here in this example we had labeled the value with index
print(ages)

A    10
B    20
C    30
D    40
E    50
dtype: int64

**2. DataFrames**
Dataframe is a collection of rows and column. It creates a table (rows and column)

In [ ]:
# creating data frame
data = {
    "column_one": [10,20,30,40,50],
    "column_two": ['A', 'B', 'C', 'D', 'D']
}

dframe = pd.DataFrame(data)
print(dframe)

   column_one column_two
0          10          A
1          20          B
2          30          C
3          40          D
4          50          D

In [ ]:
# creating data frame with index
data = {
    "column_one": [10,20,30,40,50],
    "column_two": ['A', 'B', 'C', 'D', 'D']
}

dframe = pd.DataFrame(data, index= ["one", "two", "three", "four", "five"])
print(dframe)

       column_one column_two
one            10          A
two            20          B
three          30          C
four           40          D
five           50          D

In [ ]:
# To uplaoding the files
# pd.read_csv()

In [ ]:
df = pd.read_csv("dirty_cafe_sales.csv")
print(df)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2              2           4
1       TXN_4977031      Cake        4              3          12
2       TXN_4271903    Cookie        4              1       ERROR
3       TXN_7034554     Salad        2              5          10
4       TXN_3160411    Coffee        2              2           4
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2              2           4
9996    TXN_9659401       NaN        3            NaN           3
9997    TXN_5255387    Coffee        4              2           8
9998    TXN_7695629    Cookie        3            NaN           3
9999    TXN_6170729  Sandwich        3              4          12

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       08-09-2023
1               Cash  In-store       16-05-2023
2        Credit Card  In-store       19-07-2023
3            UNKNOWN   UNKNOWN       27-04-2023
4     Digital Wallet  In-store       11-06-2023
...              ...       ...              ...
9995             NaN   UNKNOWN       30-08-2023
9996  Digital Wallet       NaN       02-06-2023
9997  Digital Wallet       NaN       02-03-2023
9998  Digital Wallet       NaN       02-12-2023
9999            Cash  In-store       07-11-2023

[10000 rows x 8 columns]

# **Viewing the Data**

Head(): we make use of head when we want to see only top 5 rows from the table

head(): when we use head then it give top 5 rows

head(10): when we want any particular number of rows then we have to mention the number inside the bracket

In [ ]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023

In [ ]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
5,TXN_2602893,Smoothie,5,4,20,Credit Card,NaN,31-03-2023
6,TXN_4433211,UNKNOWN,3,3,9,ERROR,Takeaway,06-10-2023
7,TXN_6699534,Sandwich,4,4,16,Cash,UNKNOWN,28-10-2023
8,TXN_4717867,NaN,5,3,15,NaN,Takeaway,28-07-2023
9,TXN_2064365,Sandwich,5,4,20,NaN,In-store,31-12-2023

tail(): we make use of tail when we want to see only last 5 rows from the table

tail(): when we use head then it give last 5 rows

tail(10): when we want any particular number of rows from bottom then we have to mention the number inside the bracket

In [ ]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [ ]:
df.tail(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9990,TXN_1538510,Coffee,5,2,10,Digital Wallet,NaN,22-05-2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24-02-2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05-07-2023
9993,TXN_4766549,Smoothie,2,4,NaN,Cash,NaN,20-10-2023
9994,TXN_7851634,UNKNOWN,4,4,16,NaN,NaN,08-01-2023
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

shape: we make use of shape when we see how much rows and columns table contain

In [ ]:
df.shape

(10000, 8)

info()

This info gives us the information about our dataframe (dataset)

info gives us structure and data types

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

Describe():

It give us the summary of numeric column

In [ ]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3,6,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

# **Acessing Column:**

Accessing particular column. we can access the single column and multiple column.

For accessing single column df.[column_name]

For accessing multiple column df.[column_name1, column_nmae2]

Accessing Single Column

In [ ]:
df['Item']

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9995      Coffee
9996         NaN
9997      Coffee
9998      Cookie
9999    Sandwich
Name: Item, Length: 10000, dtype: object

Accessing multiple column

In [ ]:
df[['Item', 'Quantity']]

          Item Quantity
0       Coffee        2
1         Cake        4
2       Cookie        4
3        Salad        2
4       Coffee        2
...        ...      ...
9995    Coffee        2
9996       NaN        3
9997    Coffee        4
9998    Cookie        3
9999  Sandwich        3

[10000 rows x 2 columns]


**df.isnull():** isnull return the true and false if the row is containg null value then it will return the true or else false

**df.isnull().sum():** df.isnull.sum() it return the count of the null value from the column

In [108]:
df = pd.read_csv("dirty_cafe_sales.csv")

In [109]:
df['Quantity'].isnull().sum()

np.int64(138)

Accessing rows:

we can access the rows using 2 ways
1. iloc : we use iloc when we want to access the rows or columns by their position number

2. loc: we use loc when we want to access the rows with column name or index name

iloc

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

# Using iloc (by position)
print(df.iloc[1, 1])  # Row 2, Column 2  30

# Using loc (by label)
print(df.loc[1, 'Age'])  # Row label 1, column 'Age'  30

30
30

In [ ]:
df.iloc[2,3]

'1'

loc: accessing the column using values or index

# **Cleaning Data**
1. Empty cells (null cells) - missing values

2. Data in Wrong Format

3. Wrong Data

4. Duplicates

**Empty cells - missing values**

We can do:
fillna()

dropna()

.mean()

.mode()

.median()

.ffill()

.bfill()

Missing values in pandas like , when we wrk with the dataset and some time some cells are empty or missing pandas shows this NaN (Not a Number)

Handling missing values means dealing with this empty cells so that the data should be clean and ready to use


**df.isnull():** isnull return the true and false if the row is containg null value then it will return the true or else false

**df.isnull().sum():** df.isnull.sum() it return the count of the null value from the column

**df.dropna():** dropna delete the rows which has null values in it. # dropna delete the rows that does have null values, but for all the time we cannot do the dropna becuase if we are doing the dropna then most of data will get loose better we can fix that data at the place of dropna
df.dropna()


**df.fillna():** fillna used to fill the value

In [ ]:
df = pd.read_csv("dirty_cafe_sales.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023

In [ ]:
df.isnull()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

**inplace**
inplace='True': Tells pandas to apply changes directly to the original data frame so we havent to assign it again

Pandas uses axis to decide along which direction an operation will happen.

axis=0  operation goes down the rows (default)

axis=1  operation goes across the columns

In [ ]:
df.isnull().sum()
# here we got the summary like how much null values are there in the table so we can fix that vlaues now

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
# dropna delete the rows that does have null values, but for all the time we cannot do the dropna becuase if we are doing the dropna then it our most of data will get loose better we can fix that data at the place of dropna
df.dropna()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9984,TXN_3142496,Smoothie,UNKNOWN,4,4,Cash,Takeaway,27-07-2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14-12-2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24-02-2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05-07-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [ ]:
df['Price Per Unit'].fillna(3)

0       2
1       3
2       1
3       5
4       2
       ..
9995    2
9996    3
9997    2
9998    3
9999    4
Name: Price Per Unit, Length: 10000, dtype: object

In [ ]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [ ]:
df['Price Per Unit'].fillna(3, inplace=True)
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,3,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,3,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [ ]:
df.dropna(inplace=True)
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9984,TXN_3142496,Smoothie,UNKNOWN,4,4,Cash,Takeaway,27-07-2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14-12-2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24-02-2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05-07-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [ ]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

Handling Missing values - Filling rows with missing values

In [67]:
df = pd.read_csv("dirty_cafe_sales.csv")
df.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
5,TXN_2602893,Smoothie,5,4,20,Credit Card,NaN,31-03-2023
6,TXN_4433211,UNKNOWN,3,3,9,ERROR,Takeaway,06-10-2023
7,TXN_6699534,Sandwich,4,4,16,Cash,UNKNOWN,28-10-2023
8,TXN_4717867,NaN,5,3,15,NaN,Takeaway,28-07-2023
9,TXN_2064365,Sandwich,5,4,20,NaN,In-store,31-12-2023
10,TXN_2548360,Salad,5,5,25,Cash,Takeaway,07-11-2023
11,TXN_3051279,Sandwich,2,4,8,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4,8,Cash,In-store,03-05-2023
13,TXN_9437049,Cookie,5,1,5,NaN,Takeaway,01-06-2023
14,TXN_8915701,ERROR,2,1.5,3,NaN,In-store,21-03-2023
15,TXN_2847255,Salad,3,5,15,Credit Card,In-store,15-11-2023
16,TXN_3765707,Sandwich,1,4,4,NaN,NaN,10-06-2023
17,TXN_6769710,Juice,2,3,6,Cash,In-store,24-02-2023
18,TXN_8876618,Cake,5,3,15,Cash,ERROR,25-03-2023
19,TXN_3709394,Juice,4,3,12,Cash,Takeaway,15-01-2023

In [68]:
df['Total Spent'].isnull().sum()

np.int64(173)

**Filling values: fillna()**

In [71]:
df['Total Spent'].fillna(100, inplace=True)
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [72]:
df['Total Spent'].isnull().sum()

np.int64(0)

**Filling values: mean()**
Missing value is replaced by the average of all ages.
Sum of total divided by number of entries (avg)

---

In [81]:
df['Quantity'].isnull().sum()
# so here we got to know that there's 138 null values is there so now we can fix them using mean()

np.int64(138)

before filling the values we know that this column contain some string values also so before filling we have to convert all values in integer format , because we cannot perform mean,median on string data

In [83]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
# here all the values of column is now in integer

pd.to_numeric() : this function used to convert string data into numer

In [84]:
df['Quantity'].fillna(df['Quantity'].mean(), inplace=True)

/tmp/ipython-input-487214857.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].mean(), inplace=True)

In [85]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.000000,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4.0,3.000000,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4.0,1.000000,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2.0,5.000000,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2.0,2.000000,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.000000,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3.0,2.949984,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4.0,2.000000,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3.0,2.949984,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3.0,4.000000,12,Cash,In-store,07-11-2023

In [86]:
df['Quantity'].isnull().sum()
# so here now if we will check the missing values then here the count will be zero

np.int64(0)

Filling Values: median() : It will replace all the null values with middle value

In [90]:
df = pd.read_csv("dirty_cafe_sales.csv")
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [91]:
df['Quantity'].isnull().sum()
# so here we got that we are having 138 null null values so now we have to fix that rows

np.int64(138)

In [93]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')  # converting string values to numerical
df['Quantity'].fillna(df['Quantity'].median(), inplace=True)
df

/tmp/ipython-input-495545683.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].median(), inplace=True)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4.0,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4.0,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2.0,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2.0,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3.0,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4.0,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3.0,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3.0,4,12,Cash,In-store,07-11-2023

In [94]:
df['Quantity'].isnull().sum()
# so here if we will check the column then it doesnt contain the null value

np.int64(0)

Mode(): Fills with most frequent(repeated) value

In [95]:
df = pd.read_csv('dirty_cafe_sales.csv')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [96]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [101]:
df['Payment Method'].fillna(df['Payment Method'].mode()[0], inplace=True)
print(df)
# [0]  picks the first value from that Series.

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2              2           4
1       TXN_4977031      Cake        4              3          12
2       TXN_4271903    Cookie        4              1       ERROR
3       TXN_7034554     Salad        2              5          10
4       TXN_3160411    Coffee        2              2           4
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2              2           4
9996    TXN_9659401       NaN        3            NaN           3
9997    TXN_5255387    Coffee        4              2           8
9998    TXN_7695629    Cookie        3            NaN           3
9999    TXN_6170729  Sandwich        3              4          12

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       08-09-2023
1               Cash  In-store       16-05-2023
2        Credit Card  In-store       19-07-2023
3            UNKNOWN   UNKNOWN       27-04-2023
4     Digital Wallet  In-store       11-06-2023
...              ...       ...              ...
9995  Digital Wallet   UNKNOWN       30-08-2023
9996  Digital Wallet       NaN       02-06-2023
9997  Digital Wallet       NaN       02-03-2023
9998  Digital Wallet       NaN       02-12-2023
9999            Cash  In-store       07-11-2023

[10000 rows x 8 columns]

/tmp/ipython-input-3049579050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Method'].fillna(df['Payment Method'].mode()[0], inplace=True)

In [102]:
df['Payment Method'].isnull().sum()

np.int64(0)

filling values using forward fill method

In [103]:
df.fillna(method='ffill', inplace=True)
df

/tmp/ipython-input-3303779087.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,Digital Wallet,UNKNOWN,30-08-2023
9996,TXN_9659401,Coffee,3,2,3,Digital Wallet,UNKNOWN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,UNKNOWN,02-03-2023
9998,TXN_7695629,Cookie,3,2,3,Digital Wallet,UNKNOWN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

In [104]:
df['Quantity'].isnull().sum()

np.int64(0)

filling value using backward filling function

In [105]:
df.fillna(method='bfill', inplace=True)
df

/tmp/ipython-input-3129340724.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,Digital Wallet,UNKNOWN,30-08-2023
9996,TXN_9659401,Coffee,3,2,3,Digital Wallet,UNKNOWN,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,UNKNOWN,02-03-2023
9998,TXN_7695629,Cookie,3,2,3,Digital Wallet,UNKNOWN,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07-11-2023

drop():

It is used to drop the entire column

In [110]:
df.drop('Location', axis=1, inplace=True)
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,08-09-2023
1,TXN_4977031,Cake,4,3,12,Cash,16-05-2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,19-07-2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,27-04-2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,11-06-2023
...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,30-08-2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,02-06-2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,02-03-2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,02-12-2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,07-11-2023

So here the Location column had been deleted